<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
test123
<form action="#" th:action="@{/home}" method="post">
    <button type="submit" name="button1">Study spots near me</button>
    <button type="submit" name="button2">Specific type of study spot</button>
    <select id="spot_type">
        <option value="cafe">Cafe</option>
        <option value="internet_cafe">Internet Cafe</option>
        <option value="library">Library</option>
        <option value="university">University</option>
        <option value="reading room">Reading Room</option>
    </select>
    <button type="submit" name="button3">Surprise me</button>
</form>
</body>
</html>