<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study Spot</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
<h1>Study spot details</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Opening Hours</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    <tr>
        <td th:text="${session.spot.getId()}"></td>
        <td th:text="${session.spot.getName()}"></td>
        <td th:text="${session.spot.getAmenity()}"></td>
        <td th:text="${session.spot.getOpening_hours()}"></td>
        <td th:text="${session.spot.getLatitude()}"></td>
        <td th:text="${session.spot.getLongitude()}"></td>
    </tr>
</table>
<div id="map"></div>
<script th:inline="javascript">
    function initMap(){
        var position = {
            lat: 42.4,
            lng: 21.7
        }
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 4,
                center: position
            }
        );
        var marker = new google.maps.Marker({
            position: position,
            map: map
        })
    }
    window.initMap = initMap;
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6ZkyEG6pK0tkuwGHSUME2nYsxWnXhczg&callback=initMap"       defer>
</script>
</body>
</html>